<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Gestion_formations</display-name>
  <welcome-file-list>
    <welcome-file>Connexion</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Connexion</servlet-name>
    <servlet-class>com.GF.controllers.servlets.Connexion</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Deconnexion</servlet-name>
    <servlet-class>com.GF.controllers.servlets.Deconnexion</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreationCandidat</servlet-name>
    <servlet-class>com.GF.controllers.servlets.CreationCandidat</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListeCandidats</servlet-name>
    <servlet-class>com.GF.controllers.servlets.ListeCandidats</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreationInscription</servlet-name>
    <servlet-class>com.GF.controllers.servlets.CreationInscription</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListeInscriptions</servlet-name>
    <servlet-class>com.GF.controllers.servlets.ListeInscriptions</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DB</servlet-name>
    <servlet-class>com.GF.controllers.servlets.DB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Connexion</servlet-name>
    <url-pattern>/Connexion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Deconnexion</servlet-name>
    <url-pattern>/Deconnexion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreationCandidat</servlet-name>
    <url-pattern>/CreationCandidat</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListeCandidats</servlet-name>
    <url-pattern>/ListeCandidats</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreationInscription</servlet-name>
    <url-pattern>/CreationInscription</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListeInscriptions</servlet-name>
    <url-pattern>/ListeInscriptions</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DB</servlet-name>
    <url-pattern>/DB</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>ConnexionFilter</filter-name>
    <filter-class>com.GF.controllers.filters.ConnexionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ConnexionFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>